:root {
  --cor-fundo: #277a39;
  --cor-principal: #0cad42 ;
  --cor-secundaria: #67df81;
  --cor-destaque: #3feb0b;
  --cor-texto: #ecf2f3;
}

body {
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.caixa-principal{
  background-color: var(--cor-principal);
  width: 90%;
  text-align: center;
  padding: 20px;
}

h1{
  color: var(--cor-destaque);
 }
